---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- name: mharbor.kb.io
  clientConfig:
    service:
      name: '{{ include "chart.fullname" . | quote }}'
      namespace: '{{ .Release.Namespace | quote }}'
      port: '{{ .Values.service.port }}'
- name: mjobservice.kb.io
  clientConfig:
    service:
      name: '{{ include "chart.fullname" . | quote }}'
      namespace: '{{ .Release.Namespace | quote }}'
      port: '{{ .Values.service.port }}'
- name: mharborcluster.kb.io
  clientConfig:
    service:
      name: '{{ include "chart.fullname" . | quote }}'
      namespace: '{{ .Release.Namespace | quote }}'
      port: '{{ .Values.service.port }}'
