# https://docs.docker.com/registry/configuration/
version: 0.1
log:
  accesslog:
    disabled: {{ .Spec.Log.AccessLog.Disabled }}
  level: {{ .Spec.Log.Level }}
  formatter: {{ .Spec.Log.Formatter }}
  fields: {{ .Spec.Log.Fields | toJson }}
{{- if .Spec.Log.Hooks }}
  hooks:
  {{- range $index, $element := .Spec.Log.Hooks }}
  - type: {{ $element.Type }}
    disabled: {{ $element.Disabled }}
    levels: {{ $element.Levels | toJson }}
    options: {{ secretData $element.OptionsRef | toJson }}
  {{- end }}
{{- end }}
http:
  # secret: setted through environment variable
  {{- if .Spec.HTTP.Debug }}
  debug:
    addr: :{{ .Spec.HTTP.Debug.Port }}
    prometheus:
      enabled: {{ .Spec.HTTP.Debug.Prometheus.Enabled }}
      path: {{ .Spec.HTTP.Debug.Prometheus.Path }}
  {{- end }}
  net: {{ .Spec.HTTP.Net }}
  addr: :5000
  prefix: {{ .Spec.HTTP.Prefix }}
  headers: {{ .Spec.HTTP.Headers | toJson }}
  http2:
    disabled: {{ .Spec.HTTP.HTTP2.Disabled }}
  host: {{ .Spec.HTTP.Host }}
  relativeurls: {{ .Spec.HTTP.RelativeURLs }}
  {{- if .Spec.HTTP.DrainTimeout }}
  draintimeout: {{ .Spec.HTTP.DrainTimeout.Duration }}
  {{- end }}
  {{- if .Spec.HTTP.TLS.Enabled }}
  tls:
    certificate: /etc/registry/ssl/tls.crt
    key: /etc/registry/ssl/tls.key
  {{- end }}
{{- if .Spec.Reporting }}
reporting:
  {{- range $name, $reference := .Spec.Reporting }}
  {{ $name }}: {{ secretData $reference | toJson }}
  {{- end }}
{{- end }}
storage:
  delete:
    enabled: {{ .Spec.Storage.Delete.Enabled }}
  cache:
    blobdescriptor: {{ default "inmemory" .Spec.Storage.Cache.Blobdescriptor }}
  maintenance:
    uploadPurging:
      enabled: {{ .Spec.Storage.Maintenance.UploadPurging.Enabled }}
      {{- if .Spec.Storage.Maintenance.UploadPurging.Age }}
      age: {{ .Spec.Storage.Maintenance.UploadPurging.Age.Duration }}
      {{- end }}
      {{- if .Spec.Storage.Maintenance.UploadPurging.Interval }}
      interval: {{ .Spec.Storage.Maintenance.UploadPurging.Interval.Duration }}
      {{- end }}
      dryRun: {{ .Spec.Storage.Maintenance.UploadPurging.DryRun }}
    readOnly:
      enabled: {{ .Spec.Storage.Maintenance.ReadOnly.Enabled }}
  redirect: 
    disable: {{ .Spec.Storage.Redirect.Disable }}

{{- if .Spec.Storage.Driver.InMemory }}
  inmemory: {}
{{- end }}

{{- if .Spec.Storage.Driver.FileSystem }}
  filesystem:
    rootdirectory: /var/lib/registry
    maxthreads: {{ .Spec.Storage.Driver.FileSystem.MaxThreads }}
{{- end }}

{{- if .Spec.Storage.Driver.S3 }}
  s3:
    region: {{ .Spec.Storage.Driver.S3.Region }}
    bucket: {{ .Spec.Storage.Driver.S3.Bucket }}
    encrypt: {{ .Spec.Storage.Driver.S3.Encrypt }}
    keyid: {{ .Spec.Storage.Driver.S3.KeyID }}
    secure: {{ .Spec.Storage.Driver.S3.Secure }}
    v4auth: {{ .Spec.Storage.Driver.S3.V4Auth }}
    chunksize: {{ .Spec.Storage.Driver.S3.ChunkSize }}
    skipverify: {{ .Spec.Storage.Driver.S3.SkipVerify }}
    storageclass: {{ .Spec.Storage.Driver.S3.StorageClass }}
    rootdirectory: {{ .Spec.Storage.Driver.S3.RootDirectory }}
  {{- if .Spec.Storage.Driver.S3.AccessKey }}
    accesskey: {{ .Spec.Storage.Driver.S3.AccessKey }}
    # secretkey: setted through environment variable
  {{- end }}
  {{- if .Spec.Storage.Driver.S3.RegionEndpoint }}
    regionendpoint: {{ .Spec.Storage.Driver.S3.RegionEndpoint }}
  {{- end }}
{{- end }}

{{- if .Spec.Storage.Driver.Swift }}
  swift:
    username: {{ .Spec.Storage.Driver.Swift.Username }}
    # password: setted through environment variable
    authurl: {{ .Spec.Storage.Driver.Swift.AuthURL }}
    container: {{ .Spec.Storage.Driver.Swift.Container }}
    prefix: {{ .Spec.Storage.Driver.Swift.Prefix }}
    insecureskipverify: {{ .Spec.Storage.Driver.Swift.InsecureSkipVerify }}
    endpointtype: {{ .Spec.Storage.Driver.Swift.EndpointType }}
    chunksize: {{ .Spec.Storage.Driver.Swift.ChunkSize }}
  {{- if .Spec.Storage.Driver.Swift.AccessKey }}
    accesskey: {{ .Spec.Storage.Driver.Swift.AccessKey }}
    # secretkey: setted through environment variable
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.AuthVersion }}
    authversion: {{ .Spec.Storage.Driver.Swift.AuthVersion }}
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.Tenant }}
    tenantid: {{ .Spec.Storage.Driver.Swift.Tenant }}
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.TenantID }}
    tenantid: {{ .Spec.Storage.Driver.Swift.TenantID }}
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.Domain }}
    domain: {{ .Spec.Storage.Driver.Swift.Domain }}
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.DomainID }}
    domainid: {{ .Spec.Storage.Driver.Swift.DomainID }}
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.TrustID }}
    trustid: {{ .Spec.Storage.Driver.Swift.TrustID }}
  {{- end }}
  {{- if .Spec.Storage.Driver.Swift.Region }}
    region: {{ .Spec.Storage.Driver.Swift.Region }}
  {{- end }}
{{- end }}

{{- if ( or .Spec.Middlewares.Registry ( or .Spec.Middlewares.Repository .Spec.Middlewares.Storage ) ) }}
middleware:
  {{- if .Spec.Middlewares.Registry }}
  registry:
    {{- range $index, $middleware := .Spec.Middlewares.Registry }}
  - name: $Middlewares.Name
      {{- if $middleware.OptionsRef }}
    options: {{ secretData $middleware.OptionsRef | toJson }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if .Spec.Middlewares.Repository }}
  registry:
    {{- range $index, $middleware := .Spec.Middlewares.Repository }}
  - name: $Middlewares.Name
      {{- if $middleware.OptionsRef }}
    options: {{ secretData $middleware.OptionsRef | toJson }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if .Spec.Middlewares.Storage }}
  registry:
    {{- range $index, $middleware := .Spec.Middlewares.Storage }}
  - name: {{ $middleware.Name }}
      {{- if $middleware.OptionsRef }}
    options: {{ secretData $middleware.OptionsRef | toJson }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if .Spec.Redis }}
redis:
  {{- with ( "redis-password" | secretData .Spec.Redis.PasswordRef | .Spec.Redis.GetDSN ) }}
  addr: {{ .Hostname }}
  # password: setted through environment variable
  db: {{ .EscapedPath | trimAll "/" }}
  {{- end }}
  {{- if .Spec.Redis.DialTimeout }}
  dialtimeout: {{ .Spec.Redis.DialTimeout.Duration }}
  {{- end }}
  {{- if .Spec.Redis.ReadTimeout }}
  readtimeout: {{ .Spec.Redis.ReadTimeout.Duration }}
  {{- end }}
  {{- if .Spec.Redis.WriteTimeout }}
  writetimeout: {{ .Spec.Redis.WriteTimeout.Duration }}
  {{- end }}
  pool:
    maxidle: {{ .Spec.Redis.Pool.MaxIdle }}
    maxactive: {{ .Spec.Redis.Pool.MaxActive }}
    {{- if .Spec.Redis.Pool.IdleTimeout }}
    idletimeout: {{ .Spec.Redis.Pool.IdleTimeout.Duration }}
    {{- end }}
{{- end }}
{{- if .Spec.Proxy }}
proxy:
  remoteurl: {{ .Spec.Proxy.RemoteURL }}
  # username: setted through environment variable
  # password: setted through environment variable
{{- end }}
compatibility:
  schema1:
    # signingkeyfile: setted through environment variable
    enabled: {{ .Spec.Compatibility.Schema1.Enabled }}
validation:
  disabled: {{ .Spec.Validation.Disabled }}
{{- if or .Spec.Validation.Manifests.URLs.Allow .Spec.Validation.Manifests.URLs.Deny }}
  manifests:
    urls:
  {{- if .Spec.Validation.Manifests.URLs.Allow }}
      allow: {{ .Spec.Validation.Manifests.URLs.Allow | toJson }}
  {{- end }}
  {{- if .Spec.Validation.Manifests.URLs.Deny }}
      deny: {{ .Spec.Validation.Manifests.URLs.Deny | toJson }}
  {{- end }}
{{- end }}
{{- if ( or .Spec.Authentication.Silly ( or .Spec.Authentication.Token .Spec.Authentication.HTPasswd ) ) }}
auth:
  {{- if .Spec.Authentication.Silly }}
  silly:
    realm: {{ .Spec.Authentication.Silly.Realm }}
    service: {{ .Spec.Authentication.Silly.Service }}
  {{- end }}
  {{- if .Spec.Authentication.Token }}
  token:
    realm: {{ .Spec.Authentication.Token.Realm }}
    service: {{ .Spec.Authentication.Token.Service }}
    issuer: registry-token-issuer
    rootcertbundle: /root/certs/bundle
    autoredirect: {{ .Spec.Authentication.Token.AutoRedirect }}
  {{- end }}
  {{- if .Spec.Authentication.HTPasswd }}
  htpasswd:
    realm: {{ .Spec.Authentication.HTPasswd.Realm }}
    # path: setted through environment variable
  {{- end }}
{{- end }}
notifications:
{{- if .Spec.Notifications.Endpoints }}
  endpoints:
  {{- range $_, $endpoint := .Spec.Notifications.Endpoints }}
  - name: {{ $endpoint.Name }}
    disabled: {{ $endpoint.Disabled }}
    url: {{ $endpoint.URL }}
    headers: {{ $endpoint.Headers | toJson }}
    {{- if $endpoint.Timeout }}
    timeout: {{ $endpoint.Timeout.Duration }}
    {{- end }}
    threshold: {{ $endpoint.Threshold }}
    backoff: {{ $endpoint.Backoff }}
    ignoredmediatypes: {{ $endpoint.IgnoredMediaTypes | toJson }}
    ignore:
      mediatypes: {{ $endpoint.Ignore.MediaTypes | toJson }}
      actions: {{ $endpoint.Ignore.Actions | toJson }}
  {{- end }}
{{- end }}
  events:
    includereferences: {{ empty .Spec.Notifications.Events.IncludeReferences | ternary true .Spec.Notifications.Events.IncludeReferences }}
health:
  storagedriver:
    enabled: {{ .Spec.Health.StorageDriver.Enabled }}
    {{- if .Spec.Health.StorageDriver.Interval }}
    interval: {{ .Spec.Health.StorageDriver.Interval.Duration }}
    {{- end }}
    threshold: {{ .Spec.Health.StorageDriver.Threshold }}
{{- if .Spec.Health.File }}
  file:
  {{- range $_, $health := .Spec.Health.File }}
  - file: {{ $health.File }}
    {{- if $health.Interval }}
    interval: {{ $health.Interval.Duration }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if .Spec.Health.HTTP }}
  http:
  {{- range $_, $health := .Spec.Health.HTTP }}
  - uri: {{ $health.URI }}
    headers: {{ $health.Headers | toJson }}
    statuscode: {{ $health.StatusCode }}
    {{- if $health.Timeout }}
    timeout: {{ $health.Timeout.Duration }}
    {{- end }}
    {{- if $health.Interval }}
    interval: {{ $health.Interval.Duration }}
    {{- end }}
    threshold: {{ $health.Threshold }}
  {{- end }}
{{- end }}
{{- if .Spec.Health.TCP }}
  tcp:
  {{- range $_, $health := .Spec.Health.TCP }}
  - addr: {{ $health.Address }}
    {{- if $health.Timeout }}
    timeout: {{ $health.Timeout.Duration }}
    {{- end }}
    {{- if $health.Interval }}
    interval: {{ $health.Interval.Duration }}
    {{- end }}
    threshold: {{ $health.Threshold }}
  {{- end }}
{{- end }}
