apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: config-template
  behavior: create
  files:
  - assets/core-config.conf.tmpl
  - assets/jobservice-config.yaml.tmpl
  - assets/portal-config.conf.tmpl
  - assets/registry-config.yaml.tmpl
  - assets/registryctl-config.yaml.tmpl

- name: config
  behavior: create
  files:
  - controllers/core-ctrl.yaml
  - controllers/exporter-ctrl.yaml
  - controllers/harbor-ctrl.yaml
  - controllers/harborcluster-ctrl.yaml
  - controllers/harborconfiguration-ctrl.yaml
  - controllers/harborproject-ctrl.yaml
  - controllers/jobservice-ctrl.yaml
  - controllers/portal-ctrl.yaml
  - controllers/registry-ctrl.yaml
  - controllers/registryctl-ctrl.yaml
  - controllers/trivy-ctrl.yaml
  - config.yaml
