{{/*
  https://github.com/goharbor/harbor/blob/master/make/photon/prepare/templates/jobservice/config.yml.jinja
  https://github.com/goharbor/harbor/blob/master/src/jobservice/config/config.go#L63
*/}}
protocol: {{ empty .Spec.HTTPS.CertificateRef | ternary "http" "https" }}
port: 8080

{{- if .Spec.HTTPS.CertificateRef }}
https_config:
  cert: /etc/jobservice/certificates/tls.crt
  key: /etc/jobservice/certificates/tls.key
{{- end }}

worker_pool:
  backend: "redis"

  redis_pool:
    redis_url: {{ "redis-password" | secretData .Spec.WorkerPool.Redis.PasswordRef | .Spec.WorkerPool.Redis.GetDSN }}
    namespace: {{ default ( printf "jobservice::%s::%s" .ObjectMeta.Namespace .ObjectMeta.Name ) .Spec.WorkerPool.Redis.Namespace }}
    idle_timeout_second: {{ .Spec.WorkerPool.Redis.IdleTimeout.Duration.Seconds | int64 }}

job_loggers:
{{- if .Spec.JobLoggers.Database }}
- name: DB
  level: {{ .Spec.JobLoggers.Database.Level }}
  sweeper:
    duration: {{ div .Spec.JobLoggers.Database.Sweeper.Duration.Hours 24 }} # days
{{- end }}
{{- if .Spec.JobLoggers.STDOUT }}
- name: STD_OUTPUT
  level: {{ .Spec.JobLoggers.STDOUT.Level }}
{{- end }}
{{- range $i, $logger := .Spec.JobLoggers.Files }}
- name: FILE
  level: {{ $logger.Level }}
  settings: # Customized settings of logger
    base_dir: /mnt/joblogs/{{ $i }}
  sweeper:
    duration: {{ div $logger.Sweeper.Duration.Hours 24 }} # days
    settings: # Customized settings of sweeper
      work_dir: /mnt/joblogs/{{ $i }}
{{- end }}

loggers:
{{- if .Spec.Loggers.Database }}
- name: DB
  level: {{ .Spec.Loggers.Database.Level }}
  sweeper:
    duration: {{ div .Spec.Loggers.Database.Sweeper.Duration.Hours 24 }} # days
{{- end }}
{{- if .Spec.Loggers.STDOUT }}
- name: STD_OUTPUT
  level: {{ .Spec.Loggers.STDOUT.Level }}
{{- end }}
{{- range $i, $logger := .Spec.Loggers.Files }}
- name: FILE
  level: {{ $logger.Level }}
  settings: # Customized settings of logger
    base_dir: /mnt/joblogs/{{ $i }}
  sweeper:
    duration: {{ div $logger.Sweeper.Duration.Hours 24 }} # days
    settings: # Customized settings of sweeper
      work_dir: /mnt/logs/{{ $i }}
{{- end }}
