{{- if .Spec.Server.TLS.Enabled }}
port: 8443

tls:
  ca.cert: /etc/chartmuseum/ssl/ca.crt
  cert: /etc/chartmuseum/ssl/tls.crt
  key: /etc/chartmuseum/ssl/tls.key
{{- else }}
port: 8080
{{- end }}

allow.overwrite: {{ .Spec.Chart.AllowOverwrite }}

auth:
  anonymous.get: {{ .Spec.Authentication.AnonymousGet }}
{{- if .Spec.Authentication.Bearer }}
  {{- if .Spec.Authentication.Bearer.CertificateRef }}
  cert-path: /etc/chartmuseum/auth-certificates/tls.crt
  {{- end }}
  {{- if .Spec.Authentication.Bearer.Realm }}
  realm: {{ .Spec.Authentication.Bearer.Realm }}
  service: {{ .Spec.Authentication.Bearer.Service }}
  {{- end }}
{{- end }}

{{- if .Spec.Authentication.Bearer }}
bearer.auth: 1
{{- end }}

{{- if .Spec.Cache.Redis }}
{{- if .Spec.Cache.Redis.SentinelMasterSet }}
cache: redis_sentinel
{{- else }}
cache: redis
{{- end }}
cache.redis:
  {{- if .Spec.Cache.Redis.SentinelMasterSet }}
  mastername: {{ .Spec.Cache.Redis.SentinelMasterSet | quote }}
  {{- end }}
  {{- if .Spec.Cache.Redis.Port }}
  addr: {{ printf "%s:%d" .Spec.Cache.Redis.Host .Spec.Cache.Redis.Port | quote }}
  {{- else }}
  addr: {{ .Spec.Cache.Redis.Host | quote }}
  {{- end }}
  # password: setted through environment variable
  db: {{ .Spec.Cache.Redis.Database }}
{{- end }}

context.path: ''

debug: {{ .Spec.Log.Debug }}

{{- if .Spec.Chart.Repo.DepthDynamic }}
depth.dynamic: {{ .Spec.Chart.Repo.DepthDynamic }}
{{- else }}
depth: {{ .Spec.Chart.Repo.Depth }}
{{- end }}

disable:
  api: {{ .Spec.Disable.API }}
  delete: {{ .Spec.Disable.Delete }}
  force.overwrite: {{ .Spec.Disable.ForceOverwrite }}
  metrics: {{ .Spec.Disable.Metrics }}
  statefiles: {{ .Spec.Disable.StateFiles }}

index.limit: {{ .Spec.Chart.Index.ParallelLimit }}

log:
  health: {{ .Spec.Log.Health }}
  json: {{ .Spec.Log.JSON }}

max:
  storage.objects: {{ .Spec.Chart.Storage.MaxStorageObjects }}
  upload.size: {{ .Spec.Server.MaxUploadSize }}

chart.post.form.field.name: {{ .Spec.Chart.PostFormFieldName.Chart }}
prov.post.form.field.name: {{ .Spec.Chart.PostFormFieldName.Provenance }}
