{{/* https://github.com/theupdateframework/notary/blob/master/docs/reference/server-config.md */}}
{
  "server": {
    {{- if .Spec.TLS }}
      "tls_cert_file": "/etc/notary-server/certificates/tls.crt",
      "tls_key_file": "/etc/notary-server/certificates/tls.key",
    {{- end }}
    "http_addr": ":4443"
  },
  "trust_service": {
  {{- if .Spec.TrustService.Remote }}
    {{- if .Spec.TrustService.Remote.Host }}
    "hostname": "{{ .Spec.TrustService.Remote.Host }}",
    {{- end }}
    {{- if .Spec.TrustService.Remote.Port }}
    "port": "{{ .Spec.TrustService.Remote.Port }}",
    {{- end }}
    {{- if .Spec.TrustService.Remote.CertificateRef }}
    "tls_ca_file": "/etc/notary-server/trust-certificates/ca.crt",
    "tls_client_cert": "/etc/notary-server/trust-certificates/tls.crt",
    "tls_client_key": "/etc/notary-server/trust-certificates/tls.key",
    {{- end }}
    {{- if .Spec.TrustService.Remote.KeyAlgorithm }}
    "key_algorithm": "{{ .Spec.TrustService.Remote.KeyAlgorithm }}",
    {{- end }}
    "type": "remote"
  {{- else }}
    "type": "local"
  {{- end }}
  },
  {{- if .Spec.Logging.Level }}
  "logging": {
    "level": "{{ .Spec.Logging.Level }}"
  },
  {{- end }}
  "storage": {
    "backend": "postgres",
    "db_url": "{{ .Spec.Storage.GetPasswordFieldKey | secretData .Spec.Storage.Postgres.PostgresConnection.PostgresCredentials.PasswordRef | .Spec.Storage.Postgres.GetDSN | toString }}"
  },
  {{- if .Spec.Authentication }}
  "auth": {
    "type": "token",
    "options": {
      "realm": "{{ .Spec.Authentication.Token.Realm }}",
      "service": "{{ .Spec.Authentication.Token.Service }}",
      "issuer": "{{ .Spec.Authentication.Token.Issuer }}",
      "rootcertbundle": "/etc/notary-server/auth-certificates/tls.crt",
      "autoredirect": "{{ .Spec.Authentication.Token.AutoRedirect }}"
    }
  },
  {{- end }}
  "caching": {
    "max_age": {
      "current_metadata": 300,
      "consistent_metadata": 31536000
    }
  }
}
