namePrefix: 'harbor-operator-'

namespace: 'harbor-operator-ns'

generatorOptions:
  disableNameSuffixHash: true

commonAnnotations:
  cert-manager.io/inject-ca-from: 'harbor-operator-ns/harbor-operator-serving-cert'

patchesStrategicMerge:
- patches/cores_service.yaml
- patches/harbors_service.yaml
- patches/jobservices_service.yaml
- patches/portals_service.yaml
- patches/registries_service.yaml
- patches/registrycontrollers_service.yaml
- patches/exporters_service.yaml
- patches/harborclusters_service.yaml
- patches/trivies_service.yaml

bases:
- ../../crd
