namePrefix: '{{ include "chart.fullname" . }}-'

namespace: '{{ .Release.Namespace }}'

generatorOptions:
  disableNameSuffixHash: true

commonAnnotations:
  cert-manager.io/inject-ca-from: '{{.Release.Namespace}}/{{. | include "chart.fullname"}}-serving-cert'

patchesStrategicMerge:
- patches/chartmuseums_service.yaml
- patches/cores_service.yaml
- patches/harbors_service.yaml
- patches/jobservices_service.yaml
- patches/notarysigners_service.yaml
- patches/notaryservers_service.yaml
- patches/portals_service.yaml
- patches/registries_service.yaml
- patches/registrycontrollers_service.yaml
- patches/exporters_service.yaml
- patches/harborclusters_service.yaml
- patches/trivies_service.yaml

bases:
- ../../crd
