apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Override namespace
namespace: harbor-operator-ns

# Common annotations
commonAnnotations:
  goharbor.io/deploy-engine: Kustomization
  goharbor.io/deploy-mode: cluster
  goharbor.io/operator-version: v1.3.0

# All the referred deployment manifests
# NOTES: when doing changes to the ref versions, please also do same changes in the patch/annotation.yaml file
resources:
  - ../../config/default # harbor operator
  - patch/namespace.yaml
  - https://raw.githubusercontent.com/spotahome/redis-operator/v1.2.0/example/operator/all-redis-operator-resources.yaml # redis operator
  - https://raw.githubusercontent.com/spotahome/redis-operator/v1.2.0/manifests/databases.spotahome.com_redisfailovers.yaml # redis operator crd
  - github.com/zalando/postgres-operator/manifests?ref=v1.7.0 # postgresql operator
  - github.com/minio/operator?ref=v4.4.28 # minIO storage operator

# If you have to override the image source, uncomment this patch and also change the image source in the patch/image-source.yaml file.
# Then rebuild.
patchesStrategicMerge:
  #   - patch/image-source.yaml
  - patch/delete-minio-console.yaml
  - patch/delete-duplicated-ns.yaml
  - patch/pg-configmap.yaml

patchesJson6902:
  - target:
      kind: Deployment
      name: harbor-operator
      group: apps
      version: v1
    path: patch/annotations.yaml # add version annotations to the harbor operator ctrl

images:
  - name: quay.io/spotahome/redis-operator
    newTag: v1.1.1
  - name: minio/operator
    newName: quay.io/minio/operator
  - name: minio/console
    newName: ghcr.io/goharbor/minio-console
  - name: registry.opensource.zalan.do/acid/postgres-operator
    newName: ghcr.io/goharbor/postgres-operator
  - name: goharbor/harbor-operator
    newName: ghcr.io/goharbor/harbor-operator
    newTag: dev_master
