apiVersion: apps/v1
kind: Deployment
metadata:
  name: harbor-operator
spec:
  template:
    spec:
      containers:
      - name: manager
        env:
          - name: CORE_DOCKER_IMAGE
            value: quay.io/goharbor/harbor-core:v2.1.2
          - name: JOBSERVICE_DOCKER_IMAGE
            value: quay.io/goharbor/harbor-jobservice:v2.1.2
          - name: PORTAL_DOCKER_IMAGE
            value: quay.io/goharbor/harbor-portal:v2.1.2
          - name: REGISTRYCTL_DOCKER_IMAGE
            value: quay.io/goharbor/harbor-registryctl:v2.1.2
          - name: REGISTRY_DOCKER_IMAGE
            value: quay.io/goharbor/registry-photon:v2.1.2
          - name: CHARTMUSEUM_DOCKER_IMAGE
            value: quay.io/goharbor/chartmuseum-photon:v2.1.2
          - name: NOTARYSERVER_DOCKER_IMAGE
            value: quay.io/goharbor/notary-server-photon:v2.1.2
          - name: NOTARYSIGNER_DOCKER_IMAGE
            value: quay.io/goharbor/notary-signer-photon:v2.1.2
          - name: TRIVY_DOCKER_IMAGE
            value: quay.io/goharbor/trivy-adapter-photon:v2.1.2
          - name: HARBORCLUSTER_STORAGE_IMAGE
            value: quay.io/goharbor/minio:RELEASE.2021-03-01T04-20-55Z
          - name: HARBORCLUSTER_CACHE_IMAGE
            value: quay.io/goharbor/redis:5.0-alpine