apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  sample: "true"

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: harbor-init-db
  files:
  - init-db.sql

secretGenerator:
- name: harbor-database-password
  literals:
  - postgresql-password=the-database-password
  type: "goharbor.io/postgresql"
