name: Dev Image

on:
  push:
    branches:
    - master
    - release-*

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v4
      with:
        go-version: 1.18
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.0.0
      with:
        driver-opts: image=moby/buildkit:master
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: '${{ secrets.DOCKER_USER }}'
        password: '${{ secrets.DOCKER_TOKEN }}'
    - name: Build and push to DockerHub
      uses: docker/build-push-action@v3
      with:
        push: true
        platforms: |
          linux/amd64
          linux/arm64
        file: Dockerfile
        tags: goharbor/harbor-operator:dev
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: harbor
        password: '${{ secrets.GHCR_TOKEN }}'
    - name: Build and push go ghcr
      uses: docker/build-push-action@v3
      with:
        push: true
        platforms: |
          linux/amd64
          linux/arm64
        file: Dockerfile
        tags: ghcr.io/goharbor/harbor-operator:dev

  charts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v4
      with:
        go-version: 1.18
    - uses: actions/checkout@v3
    - name: Package charts
      run: make helm-generate
    - uses: actions/upload-artifact@v3
      with:
        name: charts
        path: charts/*.tgz
